@import "tailwindcss";

:root {
  --background: #0B0B0F;
  --foreground: #FFFFFF;
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
